.nameHeading {
    color: whitesmoke;
    padding: 10px;
    font-size: 36px;
}

.navContainer {
    background-color: rgb(30, 30, 31);
    display: flex;
    min-height: 100px;
    justify-content: space-between;
    align-items: center;
}

.nav-item a{
    text-decoration: none;
    color: whitesmoke;
    font-weight: bold;
    font-size: 24px;
    padding: 20px;
}

.nav-item a:hover {
    color: rgb(139, 133, 133);
}

.nav-item a.active {
    color: rgb(207, 137, 7);
}

.nav {
    margin-left: 30px;
}

.navWrapper{
    display: flex;
}