footer{
    background-color: rgb(30, 30, 31);
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    min-height: 50px;
    margin-top: 20px;
}
.footerArea {
display: flex;
justify-content: center;
}

.footerLink {
    text-decoration: none;
    padding: 16px;
    color: whitesmoke;
    font-weight: bold;
    margin-top: 30px;
    font-size: 18px;
}

.footerLink:hover {
    color: rgb(139, 133, 133);
}